<template>
    <section class="container">
        <div class="card">
            <div class="card-body register-card-body">
                <div class="input-group mb-3">
                    <label for="" class="col-form-label">{{ $t('index.language') }}</label>
                        <div class="col-md-8">
                            <select class="custom-select" v-model="language" onclick="location = '/'+this.value">
                                <option value="id">{{ $t('links.indonesian') }}</option>
                                <option value="en">{{ $t('links.english') }}</option>
                                <option value="ar">{{ $t('links.arabic') }}</option>
                            </select>
                        </div>
                </div>
                <p>{{ $t('index.header') }}</p>
                <form action="#" class="mt-2">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="association" v-bind:placeholder="$t('index.association')">
                        <div class="input-group-append">
                            <i class="fas fa-building"></i>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="site-address" v-bind:placeholder="$t('index.site_address')">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">iProp.io</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="first-name" v-bind:placeholder="$t('index.first_name')">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="last-name" v-bind:placeholder="$t('index.last_name')">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" id="email" v-bind:placeholder="$t('index.email')">
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <input type="checkbox" id="agree-terms"> {{ $t('index.agree_terms')}}
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">{{ $t('index.btn_signup') }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                language: "",
            }
        },
    }
</script>

<style>
    .container {
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .card {
        width: 45%;
    }

</style>